*{
    margin: 0 auto;
     font-family: "Helvetica", "Arial", sans-serif;    
}
.countainer {
    margin:0; 
    background-image: url("white-flecks.png");
    width: 1024;
    
}
.info{
    background-image: url("white-flecks.png");
}
img{    
    display: flex;
    align-content: center;
    width: 300;
    height: 400;
}
